.simply-countdown {
  overflow: hidden;
  display: table;
  margin: auto;
  font-family: "Arial", sans-serif;
  text-shadow: var(--shadow);
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  background: var(--pink);
  box-shadow: 0 1px 3px rgba(0 0 0 0.12), 0 1px 2px rgba(0 0 0.24);
  border-radius: 50%;
 
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
  font-size: 1rem;
  text-shadow: var(--shadow);
}
.simply-countdown > .simply-section .simply-amount {
  font-size: 1.6rem;
}
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .simply-countdown > .simply-section {
    padding: 50px;
    margin: 5px;
  }

.mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
}
  
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }

  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 3px;
  }
}
